<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <% userWithSecrets.forEach(function(user){ %>
    <% user.secrets.forEach(function(secret){ %>
    <p class="secret-text"><%=secret.content%></p>
    <div class="row">

      <div class="col-lg-1 col-md-1 col-sm-1" style="padding:0;">
        <form action="/like" method="POST" onsubmit='disableButton()'>
          <input type="hidden" name="postId" value="<%=secret.id%>">
          <input type="hidden" name="userId" value="<%=secret.userId%>">
          <button type="submit" class="btn btn-secondary" style="width: 100%" id="like-button" ><i class="far fa-thumbs-up">  <%=secret.likes%></i></button>
        </form>
      </div>
      <div class="col-lg-11 col-md-11 col-sm-11" style="padding:0;" >
        <form action="/comment" method="POST">
          <div class="input-group mb-3">
            <input type="hidden" name="postId" value="<%=secret.id%>">
            <input type="hidden" name="userId" value="<%=secret.userId%>">
            <input type="text" class="form-control" placeholder="Add comment" name="commentContent"aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">Post</button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <% secret.comments.forEach(function(comment){ %>
        <p class="comments"><%=comment%></p> 
 <% }); %>
    
      <hr> 
    <% });}); %>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>
<!-- <script type="text/javascript">
  function disableButton() {
        var btn = document.getElementById('like-button');
        btn.disabled = true;
      }
</script>
 -->
<%- include('partials/footer') %>
